.footer {
    padding: 27px 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
}

.footer-container{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 26%;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.footer .footer-logo{
    width: 250px;
    display: flex; flex-flow: column;
    align-items: center;
    padding: 0px;
    font-family: ouyo;
}