.project-detail-template{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    width: 100% !important;
}

.title-project-page{
    padding: 100px 60px 0px 60px;
    margin-top: 0;
    background-image: url('../assets/img/bg-chair.jpg');
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center !important;
    justify-content: center !important;;
    width: 100%;
    height: 100vh;
    font-family: ouyo !important; 
    font-size: 120px;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
    line-height: 180px;
}

.image-project-detail{
    width: 100%;
    height: 100vh;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 0px 200px;
}

.image-project-section{
    width: 700px;
    height: 60%;
    border: white solid 5px;
    border-radius: 10px;
}

.description-project{
    font-size: 36px;
    color: white;
    text-align: justify;
    display: flex; align-items: center;
    justify-content: center;
}