.project-detail-template{
    /*background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);*/
    background-color: white;
    width: 100% !important;
}

.title-project-page{
    margin-top: 0;
    display: flex;
    align-items: center !important;
    justify-content: center !important;;
    width: 100%;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 30px;
    text-align: center;
    line-height: 180px;
}

.image-project-detail{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(600px, 1fr) auto;
    grid-template-rows: repeat(auto-fill, minmax(0px, 400px));
    justify-content: center;
    padding: 0px 50px;
    padding-top: 120px;
    padding-bottom: 70px;
    row-gap: 30px;
}

.image-project-detail h1 {
    font-family: ouyo;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px;
}

.image-project-section{
    width: 100%;
    height: 100%;
    border: white solid 5px;
    border-radius: 10px;
}

.description-project{
    font-size: 22px;
    text-align: justify;
    display: flex; align-items: center;
    justify-content: center;
}

/*
.grid-1{
    grid-row-start: 2;
    grid-row-end: 3;
}
*/

#grid-2{
    padding: 0px 20px;
    /*
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex; flex-flow: column;
    align-items: center; justify-content: flex-start;
    color: black;
    height: 100%; width: 100%;
    */
}


@media (max-width: 1000px) {
    .image-project-detail{
        grid-template-columns: repeat(auto-fill, minmax(400px, 600px));
        grid-template-rows: min-content;
    }

    .grid-2{
        grid-row: 1/2;
    }
}

@media (max-width: 720px) {
    .image-project-detail{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 430px) {
    .image-project-detail{
        grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
        grid-template-rows: min-content;
    }
}

